@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Outfit:wght@300;400;600&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root{
        /* ### Neutral */
        --main-BG: hsl(217, 54%, 11%);
        --card-BG: hsl(216, 50%, 16%);
        --line: hsl(215, 32%, 27%);
        --White: hsl(0, 0%, 100%);
        /* ### Primary */
        --Soft-blue: hsl(215, 51%, 70%);
        --Cyan: hsl(178, 100%, 50%); 
    } 
 
    body{
        font-family: 'Outfit', sans-serif;
        margin: 10px;
        height: 100vh;
        background-color: var(--main-BG);
        font-size: 18px;
    }
    @media (min-width:375px){
        
        div.card{
            width: 355px;
        }
    }
    .container{
        display: flex;
        justify-content: center;
    }
    div.card{
        padding: 20px;
        margin: 8px;
        background-color: var(--card-BG);
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 0 0 20px rgb(0 0 0 / 5%);
    }
    .card .nft-image::after{    
        content: url(images/icon-view.svg);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 98%;
        opacity: 0;
        width: 100%;
        position: absolute;
        background-color: hsl(178, 100%, 50%, 40%);;
        top: 0;
        cursor: pointer;
        border-radius: 10px;
        transition: opacity 0.4s ease-in-out;

    }
   .nft-image:hover::after{
        opacity: 1;
    }


    .nft-image{
        position: relative;
       
        }
        .nft{
            max-width: 100%;
            border-radius: 10px;
           
        }
    .text h3{
        color: var(--White);
        font-weight: 600;
        font-size: 23px;
        margin: 20px 10px;
        cursor: pointer;
        transition: 0.5s;
    }
    p.equilibrium{
        color:var(--Soft-blue);
        margin: 20px 10px;
        line-height: 2.5rem;
    }
    .ethereum-clock{
        display: flex;
        justify-content: space-between;
        margin-top: 22px;
        }
    h3{
        color: var(--White);
        
    }
    h4{
        color: var(--Cyan);
    }
    .icon-ethereum{
        margin: -1px;
    margin-left: 8px;
    }
    p.clock{
        color:var(--Soft-blue);
        text-align: end;
        }
        .icon-clock{
        margin: -1px;

        }
    hr{
        margin: 15px;
        opacity: 0.2;
        }
        
    .avatar-Jules{
        display: flex;
        align-items: center;
        }
    img.avatar{
        width: 15%;
        border-radius: 25px;
        border: 1px solid white;
        }     
    p.Jules{
        font-weight: 300;
        color: var(--Soft-blue);
        margin-left: 15px;  
        letter-spacing: 1px;
        }
    span{
        color: var(--White);
        cursor: pointer;
        }
    .attribution { 
        margin-top: 20px;
        font-size: 11px; 
        text-align: center; 
        color: rgb(253, 253, 253); 
        }
        
    .attribution a { 
        color: hsl(228, 45%, 44%); 
        }

        h3:hover{
        
            color: var(--Cyan);
        }
    span:hover{
        color: var(--Cyan)
        }
    p.clock:hover{
        cursor:grab;
        }
    

